//
//  Release.xcconfig
//  Tidify
//
//  Created by 한상진 on 2022/10/20.
//  Copyright © 2022 Tidify. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KAKAO_NATIVE_APP_KEY = 2f2bda6aa215b8ede225cc7247fa120c
BASE_URL = tdf-lb-316240643.ap-northeast-2.elb.amazonaws.com:8080 
USER_AGENT = Mozilla/5.0 (iPhone; CPU iPhone OS 15_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.0 Mobile/15E148 Safari/604.1
